* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
}

#btnContainer {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 98%, 66%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: hsl(214, 94%, 52%);
}

#mySubmit2 {
    font-size: 3em;
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
    display: block;       
    margin: 5px auto;    
}

.myLabels {
    font-size: 3em;
    text-align: center;   
    display: block; 
    padding: 0;      
}

.radioExp label,p
{
    font-size: 1.5em;
    padding: 0;
}
#mySubmit3
{
    font-size: 1em;
}

form
{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(0, 0%, 50%);
}

#textBox
{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%,0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

form label{
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
}

form button{
    margin-top: 15px;
    background-color: hsl(0, 100%, 60%);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover{
    background-color: hsl(0, 100%, 50%);
}

#result
{
    font-size: 1.25em;
    text-align: center;
    margin-top: 20px;
}

#container
{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    max-width: 750px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(0, 0%, 50%);
}

#container button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 98%, 50%);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#container button:hover{
    background-color: hsl(210, 98%, 60%);
}

#container button:active{
    background-color: hsl(210, 98%, 70%);
}

#container input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: 600;
}
#diceResult{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
}
